body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-item {
  border: 1px solid #ccc;
  padding: 20px;
  width: 200px;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Garantir que o modal fique sobre outros conteúdos */
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 30%; /* Ajuste o tamanho máximo para evitar overflow em telas pequenas */
  max-height: 80%; /* Ajuste o tamanho máximo para evitar overflow */
  overflow: auto; /* Adiciona rolagem se o conteúdo exceder o tamanho do modal */
  z-index: 1001; /* Garantir que o conteúdo do modal esteja acima do overlay */
}

.modal-content p {
  margin: 0;
  text-align: left; /* Ajusta o alinhamento do texto, se necessário */
  line-height: 1.6; /* Melhora a legibilidade do texto */
  word-wrap: break-word;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}